body{margin: 0;}

.div-grid {display: grid;
grid-template-columns: 1fr, 1fr, 1fr;
grid-template-rows: 100px, 100px, 100px, 100px;
grid-template-areas: 
"header header header"
"nav    nav       nav"
"publicacao publicacao publicacao"



;
}


header{
    background-color: darkorange;
    grid-area: header;
}
.borda-verde{
    background-color: lightgreen
    borda-verde;
}

.barra-menu{
    background-color: green;
    grid-area: nav;
    text-align: center;
}

.publicacoes{
    background-color: lightgreen;
    grid-area: publicacao;
      
}





#logo-scook-centralizada{
margin-left: 41%;
}

#tamanho-icone-perfil{
    width: 55px;
    height: 55px;

}

form{text-align: right;
}

#busca{
    width: 500px;
    height: 45px;  
    text-align: center;
    font-size: 45px;
    border-radius: 20px;
}

#icone-lupa{
    width:37px;
    height:37px;
    margin-right: 10px;
}


#menu{
    list-style: none;
    padding: 0;
    justify-content: space-between ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}

#menu li {
    display: inline;
    font-size: 30px;
}

#menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 30px;
    transition: background .6s;
    
}

#menu li a:hover{
    background-color: rgb(24, 139, 233);
}


.disposicao-elementos{
    display: grid;
    margin-left: 850px;
    margin-right: 100px;
    flex-wrap: wrap;
 
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 100px, 100px, 100px;
    grid-template-areas: 
    "foto1 foto2 foto2"
    "foto1 foto3 foto3"
    "foto4 foto5 foto5"    
    ;
}


.elemento1{
width: 500px;
height: 520px;
background-color: whitesmoke;
border: 1px solid black;
margin-top: 80px;
/* margin-bottom: 150px; */
border-radius: 30px;
grid-area: foto1;



}
.elemento2{
width: 500px;
height: 250px;
background-color: lightblue;
border: 1px solid black;
margin-top: 80px;
/* margin-bottom: 150px; */
border-radius: 30px;
margin-right: 500px;
grid-area: foto2;

}
.elemento3{
width: 500px;
height: 250px;
background-color: palegoldenrod;
border: 1px solid black;
margin-top: 20px;
/* margin-bottom: 150px; */
border-radius: 30px;
grid-area: foto3;
}
.elemento4{
width: 500px;
height: 250px;
background-color: greenyellow;
border: 1px solid black;
margin-top: 20px;
margin-bottom: 150px;
border-radius: 30px;
grid-area: foto4;
}
.elemento5{
width: 500px;
height: 250px;
background-color: orange;
border: 1px solid black;
margin-top: 20px;
margin-bottom: 150px;
border-radius: 30px;
grid-area: foto5;

}
