body{
    margin: 0;
    padding: 0;
}

/* Explicando o body:
. Tirou-se todas as margens e paddings; */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*
. Definimos espaço e a altura da div;
*/


/* >>> AQUI COMEÇA A PRIMEIRA COLUNA >>> */



.container-left {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
. Criou-se um container para a primeira coluna do grid;
. Ocupa 100% do espaço da coluna e toda a sua altura;
. Foi delimitada a coluna que será usada;
. Usamos o padrão flex dentro do container para posicionarmos os itens;
. Definimos a fonte padrão.*/

.container-left h1, h3{
    color: #B26ABC;
}

/* Foi definida a cor do texto da primeira coluna.*/

.container-left h1{
    font-size: 40px;
}


/* >>> AQUI COMEÇA A SEGUNDA COLUNA >>> */

.container-right {
    display: flex;
    width: 70vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B26ABC; 
    color: white;
}

/* 
. Criou-se um container para a segunda coluna do nosso GRID;
. Ocupa 100% do espaço da coluna e toda a sua altura;
. Delimitamos a coluna que usaremos;
. Usamos o padrão flex dentro do container para posicionarmos os itens;
. Foi definida a cor de fundo;
. Definimos a cor do texto.*/

.container-right img{
    height: 20%;
}

/*Foi definido o tamanho da logo Scook no container*/

.form{
    padding: 60px;
}

/*Definimos o espaçamento interno da class que contem o formulário*/

.wid-input{
    min-width: 300px;
    background-color: white;
    padding: 5px;
    margin: 10px 0;
    display: block;
    border-radius: 30px;
}

/* 
. Definimos a largura da barra de texto;
. Colocamos uma margem;
. Foi definido um arredondamento das bordas.
*/

.wid-input input{
    font-size: 15px;
    width: 95%;
    border: none;
    outline: none;
}

/*
. Foi definido o tamanho da fonte dentro dos inputs;
. Cada input ocupará 95% da largura em relação a largura que foi definida da class anterior;
. Tiramos as bordas e decorações padrões do HTML;
*/

.btn{
    display: flex;
    justify-content: center;
}

/*Definimos o posicionamento dos botões*/

.btn button{
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    background-color: #369FFF;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

/*Estilizamos os botões*/

.btn button:hover{
    background-color: #2e78bc;
}

/* Colocamos uma interação ao passar o mouse no botão. */