body{
    margin: 0;
    padding: 0;
}

/* Explicando o body:
. Tirou-se todas as margens e paddings; */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*
. Definimos espaço e a altura da div;
*/


/* >>> AQUI COMEÇA A PRIMEIRA COLUNA >>> */



.container-left {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
. Criou-se um container para a primeira coluna do grid;
. Ocupa 100% do espaço da coluna e toda a sua altura;
. Foi delimitada a coluna que usaremos;
. Usamos o padrão flex dentro do container para posicionarmos os itens;
. Definimos a fonte padrão.*/

.container-left h1{
    color: #B26ABC;
}

/* Foi definida a cor do texto da primeira coluna.*/

.container-left h1{
    font-size: 40px;
}


/* >>> AQUI COMEÇA A SEGUNDA COLUNA >>> */

.container-right {
    display: flex;
    width: 70vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #369FFF; 
    color: white;
}

/* 
. Criou-se um container para a segunda coluna do grid;
. Ocupa 100% do espaço da coluna e toda a sua altura;
. Delimitamos a coluna que usaremos;
. Usamos o padrão flex dentro do container para posicionarmos os itens;
. Foi definida a cor de fundo;
. Definimos a cor do texto.*/

.container-right h2{
    color: white;
}

/*Foi definida a cor do subtítulo da logo.*/

.container-right h1{
    margin-right: 75%;
    width: 500px;
}

/*Definimos a margem e a largura do texto que precede os botões.*/

.container-right img{
    height: 25%;
}

/*Definimos o tamanho da logo Scook no container*/

.form{
    padding: 60px;
}

/*Definimos o espaçamento interno da class que contem o formulário*/

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/*Definimos o posicionamento dos botões*/

.btn button{
    font-size: 20px;
    padding: 10px 100px;
    border: none;
    cursor: pointer;
    background-color: #B26ABC;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 48%;
}

/*Estilizamos os botões*/

.btn button:hover{
    background-color: #834e8a;
}

/*Colocamos uma interação ao passar o mouse no botão. */