*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    grid-row: 1/2;
    background-color: #369FFF;
    flex-direction: column;
    justify-content: center;
}

/* Explicando o header:

- Definimos os tamanhos;
- Delimitamos o header dentro do nosso grid, portanto ele ocupará a primeira linha e toda a coluna;
-Definimos a cor de fundo do nosso header;
-Assim como as formatações.*/

.logo{
    
    width: 20%;
    margin-left: 2%;
}

/* Explicando o logo:

- Definimos o comprimento da logo;
- Definimos um espaçamento entre a logo e a borda inicial do site. */

.texto-logo{

    color:white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-top: 0.5%;
    
}

/* Explicando o texto-logo:

- Definimos a cor do nosso texto, seu tamanho, a fonte;
- Definimos também  um espaçamento entre o texto e a borda inicial do site. */

.navegation{
    width: 100%;
    height: 25%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Explicando o navegation:

- Construimos uma divisão dentro do nosso header para enfileirar as ferramentas de navegação do nosso site;
- Definimos os tamanhos da nossa div;
-  Definimos também  um espaçamento entre nossa div e os elementos acima. */

.botao{
    margin-bottom: 0.5% ;
    width: 15%;
    background-color: #369FFF;
    border: 2% solid #369FFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px
}

/* Explicando o botao:

- Definimos uma margem entre o botão e a borda inferior da div;
- Estilizamos: a cor do fundo, o alinhamento dos itens, a interação com o cursor e todas as estilizações do texto; */

.botao:hover{
    background-color: aliceblue;
    border: 2% solid aliceblue;
    color: black;
}

/* Explicando o hover do botão:

- Utilizamos o hover para definir o comportamento do botão quando o cursor passa por cima dele;
- Definimos mudanças na cor do texto, do background e da borda.*/

.pesquisa{
    width: 40%;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin: 1vh;
    color: blueviolet;
}

/* Explicando a caixa de pesquisa:

- Definimos seu comprimento;
- Sua cor de fundo e cor texto.*/

.link-perfil{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5%;
}

/* Explicando o botão do perfil:

- Definimos o tamanho do botão;
- Seu alinhamento e interação com o cursor.*/

.perfil{
    width: 20%;
}

/* Explicando perfil:

- Definimos o tamanho da imagem do perfil.*/

 /*<<< AQUI ACABA O HEADER*/

main{

    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{

    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{

    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.titulos{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.setForm{

    background-color: transparent;
    border: none;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.setForm:hover{

    background-color: aliceblue;
    border-radius: 30px;
    border: 5px solid aliceblue;
}


.bloco{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

label{

    margin-right:  1%; ;
}

.formTexto{

    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;  
    justify-content: center;
    align-items: center;  
}

.texto{
    width: 100%;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    
}

.public{

    margin-top: 2%;
    background-color: #B766BE;
    color: white;
    border: none;
    border-radius: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    font-size: 20px;

}

footer{
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: #369FFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocoUm{
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1%;
}

.secao{

    margin-top: 1%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.blocoDois{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    background-color: #348cdf;

}

.instagram{

    width: 10%;
}

.redeSocial{

    width: 25%;
}

.logoFrase{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scookFooter{

    width: 25%;
}

.link{

    color: white;
}

.link:hover{

    text-decoration: underline;
}