body {
    width: 100%;
    height: 100%;
}
/* header */
.hm-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hm-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30%;
    background-color: var(--color--blue);
}

.hm-container .hm-content {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    ;

}


.hm-header .hm-content .hm-title {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hm-header .hm-content .hm-bottom {
    display: flex;
    justify-content: end;
}

.hm-header .hm-content .hm-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.hm-header .hm-content .hm-content-header .hm-space img {
    height: 45%;
    width: 95%;

}

.hm-header .hm-content .hm-content-header .hm-space h1 {
    text-align: center;
    height: auto;
    color: white;
    font-size: .8em;
}

.hm-header .hm-content .hm-content-header input {
    width: 100%;
    margin: 2px;
    border-radius: 20px;
    border: 2px solid transparent;
}


.hm-header .hm-content .hm-content-header input::placeholder {
    color: var(--color--pink);
    padding-left: 5%;
    font-size: .8em;
}



.hm-header .hm-content .hm-nav .hm-nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.hm-header .hm-content .hm-nav .hm-nav-ul li a {
    color: white;
    text-decoration: none;
}

/* footer */

.hm-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 10%;
    background-color: var(--color--blue);
}

.hm-footer .hm-footer-article{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.hm-footer .hm-footer-article .hm-footer-infos{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 0;
}

.hm-footer .hm-footer-article .hm-footer-infos .footer-options{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
    gap: 5px;
}

.hm-footer .hm-footer-article .hm-footer-infos .footer-options .footer-title{
    color: white;
}
.hm-footer .hm-footer-article .hm-footer-infos .footer-options .footer-choices{
    color: white;
    opacity: .7;
}

.hm-footer .hm-footer-article .hm-footer-infos .footer-options .footer-choices {
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

.hm-footer .hm-footer-article .hm-footer-infos .footer-options .footer-choices img{
    height: 16px;
    width: auto;
}

.hm-footer .hm-footer-article .hm-footer-cp{
    color: white;
    padding:0 5px 5px 0;
}

.hm-main{
    width: 100%;
    height: 100%;
}