body{margin: 0;}

.div-grid {display: grid;
grid-template-columns: 1fr, 1fr, 1fr;
grid-template-rows: 100px, 100px, 100px, 100px, 100px;
grid-template-areas: 
"header header header"
"nav    nav       nav"
"foto foto foto"
"texto texto texto"
"botoes botoes botoes"


;
}


header{
    background-color: darkorange;
    grid-area: header;
}


.barra-menu{
    background-color: green;
    grid-area: nav;
    text-align: center;
}

.matricula-criar{
    background-color: lightgreen;
    grid-area: foto;
}


.texto-informacao{
    background-color: lightgreen;
    grid-area: texto;
}


.disposicao-elementos{
    display: flex;
    justify-content:space-evenly;
}


#logo-scook-centralizada{
margin-left: 41%;
}

#tamanho-icone-perfil{
    width: 55px;
    height: 55px;

}

form{text-align: right;
}

#busca{
    width: 500px;
    height: 45px;  
    text-align: center;
    font-size: 45px;
    border-radius: 20px;
}

#icone-lupa{
    width:37px;
    height:37px;
    margin-right: 10px;
}


#menu{
    list-style: none;
    padding: 0;
    justify-content: space-between ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}

#menu li {
    display: inline;
    font-size: 30px;
}

#menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 30px;
    transition: background .6s;
    
}

#menu li a:hover{
    background-color: rgb(24, 139, 233);
}

.elemento{
width: 500px;
height: 500px;
background-color: whitesmoke;
border: 1px solid black;
margin-top: 80px;
margin-bottom: 150px;
border-radius: 30px;

}

#centralizar-perfil{
    margin-left: 41%;
}

#camera{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-top: 400px;
    margin-left: 40px;
}

#icone-camera-perfil{
display: flex;
list-style: none;
padding: 0;
margin-left: 32%;
}

#centralizar-texto-perfil{
    text-align: center;
    margin-left:70px ;
    background-color: lightgreen;
    list-style: none;   
}

.inputs{
    grid-area: botoes;
    background-color: lightgreen;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    
}

#texto-form-meio{
    text-align: start;
    margin-left: 1000px;
}


#nome{

    border-radius: 100px;
    background-color: rgb(169, 169, 169, 0.6) ;
    width: 585px;
    height: 25px;
}

#matricula{
    border-radius: 100px;
    background-color: rgb(169, 169, 169, 0.6) ;
    width: 627px;
    height: 25px;
}

#email{
    border-radius: 100px;
    background-color: rgb(169, 169, 169, 0.6) ;
    width: 700px;
    height: 25px;
}



#lista-invisivel{
    list-style: none;
    font-size: 30px;   
    
}

#paragraft{
    font-size: 25px
}

