*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    background-color: darkorange;
    grid-template-areas: 
    "aba fundo fundo"
    "aba fundo fundo"
    "aba fundo fundo"
    
    
    
    ;
    
}

.welcome{

    width: 10vw;
    height: 100vh;
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: darkorange;
    color: white;
    grid-area: fundo;
}

.login{

    width: 75%;
    height: 150vh;
    display: flex;
    grid-column: 1/2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 1/2;
    background-color: white;
    padding-left: 30px;
    padding: 10px;
    border-right-style: solid;
    border-color: white;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    /* border-radius: 1000px; */
    box-shadow: 1px 0px 20px 1px black;
    grid-area: aba;
}

.scook{

    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-apres{

    width: 50%;
    display: grid;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  
}

.log-sig{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao-log-sig{

    background-color: greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border-color: greenyellow;
    border-style: solid;
    border-width: 10px;
    cursor: pointer;
}