.hm-main .home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.hm-main .home h2{
    font-weight: bold;
    padding: 2px;
}

.hm-main .home .boxes{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.hm-main .home .box-pink{
    padding: 2%;
    background-color: var(--color--pink--2);
    border-radius: 20px;
    display: flex;
}

.hm-main .home .box-pink .box-pink-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.hm-main .home .box-pink .box-pink-title h2{
    font-weight: bold;
}

.hm-main .home .box-pink .box-pink-title p{
    width: 60%;
    line-height: 1.2;
    font-size: .7em;
}

.hm-main .home .box-pink .box-button-pink{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hm-main .home .box-pink .box-button-pink button{
    color: white;
    font-size: .8em;
    background-color: var(--color--pink);
    padding: 5px 30px;
    border-radius: 5px;
    border: .05rem solid black 
}

.hm-main .home .box-pink .box-button-pink button:hover{
    filter: brightness(1.2);
    transition: .5s;
}
